/* ----------------------------------Clase 03-------------------------------- */
/*Maneras de aplicar CSS 
Selector{
    propiedad:valor;
}*/
li{
    background-color: blue;
}
/* Tipos de selectores */
/* Selectort por etiqueta, es la que veniamos usando */
/* CLASS */
.violet{
    color: blueviolet;
}
/* ID */
#naranja{
    color: orange;
}
/* Trabajamos con una ruta de especificidad que la verdad no es muy buena, prefiero trabjar con clases y listo, por que puede llegar a generar problemas de especificidad */
header{
    text-align: center;
}
header ul {
    list-style: none;
}
header ul li a{
    text-decoration: none;
}
footer h2{
    font-size: 20px;
    font-weight: bold;
    font-family: "Inria Sans", sans-serif;
    letter-spacing: 2px;
}
/* En esta clase aprendimos los modos de uso de CSS, como enlazarlo con los HTMLs, selectores basicos, especificidad y ruta de especificidad. Tambien se aprendio a como usar google fonts */
/* ------------------------------Clase 04----------------------------------*/
/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    border: 1px solid red;
    overflow: hidden;
}
header ul li{
    display: inline-block;
}
header{
    position: relative;
    top: -10px;
}
img{
    position: absolute;
    left: 0;
}
header ul{
    position: sticky;
    top: 100px;
    z-index: 10;
}
/* En esta clase se ven las propiedades del box-model, overflow y position. Nuevamente todo muy basico */ 
/* ---------------------------------Clase 05----------------------------------- */
/* Nomenclaturas */
/* camelCase */
.claseCinco{
    background-color:#6BAFC6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    height: 100px;
}
.claseCinco__img{
    width: 5%;
    position: static;
}
.claseCinco__list{
    display: flex;
    list-style: none;
    gap: 2rem;
}
.claseCinco__list-item{
    background-color: #6BAFC6;
}
/* kebab-case */
.clase-5{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
.clase-5__text{
    text-align: center;
}
.clase-5__text span{
    display: block;

}
.clase-5__img{
    position: static;
    width: 50%;

}
/* sneak_case */
.clase_5{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #6BAFC6;
}
.clase_5__container{
    text-align: center;
    width: 33%;
    min-width: 400px;
}
.clase_5__img{
    position: static;
    width: 40%;
}
.footer-clase5{
    color: aliceblue;
}
/* Aprendimos nomenclaturas, lo mas basico de emmet y basico de flex. Armamos un mini-proyecto. Nuevamente lo aprendido de flex sigue siendo muy basico, ni siquiera aprendemos propiedades de flex-items*/
/* ---------------------------------Clase 06-------------------------- */
.grid{
    height: 1000px;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: 50px 100px 50px 100px;
    gap: 1rem;
    background-color: black;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    grid-template-areas: 
        "header header header"
        "main main aside"
        "section section aside"
        "footer footer footer";
}
.grid__item{
    background-color: #6BAFC6;
}
.uno{
    grid-area: header;
}
.dos{
    grid-area: main;
}
.tres{
    grid-area: section;
}
.cuatro{
    grid-area: aside;
    align-self: flex-end;
}
/* En la clase 6 aprendimos un poco de grid, fue una clase bastante buena.. */